# Manage dependencies

In [2]:
from urchin_workflow import urchin_clean as uc, urchin_prep as up
import pandas as pd
import numpy as np

# Load dataset

In [5]:
df=up.a_load_file(r"Data\IBM Dataset.csv")

Rows before drop 1470
Rows after drop 1470

# Data cleaning

In [7]:
#Check for missing values
uc.a_count_missing_values(df)

Empty DataFrame
Columns: [column, # missing values, % missing values]
Index: []

In [8]:
#Check whether categorical data is clean
uc.c_check_categorical(df)

{'attrition': array(['yes', 'no'], dtype=object),
 'businesstravel': array(['travel_rarely', 'travel_frequently', 'non-travel'], dtype=object),
 'department': array(['sales', 'research & development', 'human resources'], dtype=object),
 'educationfield': array(['life sciences', 'other', 'medical', 'marketing',
        'technical degree', 'human resources'], dtype=object),
 'gender': array(['female', 'male'], dtype=object),
 'jobrole': array(['sales executive', 'research scientist', 'laboratory technician',
        'manufacturing director', 'healthcare representative', 'manager',
        'sales representative', 'research director', 'human resources'],
       dtype=object),
 'maritalstatus': array(['single', 'married', 'divorced'], dtype=object),
 'over18': array(['y'], dtype=object),
 'overtime': array(['yes', 'no'], dtype=object)}

In [13]:
#Check objects to ensure none are actually numerical
categorical=df.select_dtypes(include='object')

In [14]:
categorical.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime
0,yes,travel_rarely,sales,life sciences,female,sales executive,single,y,yes
1,no,travel_frequently,research & development,life sciences,male,research scientist,married,y,no
2,yes,travel_rarely,research & development,other,male,laboratory technician,single,y,yes
3,no,travel_frequently,research & development,life sciences,female,research scientist,married,y,yes
4,no,travel_rarely,research & development,medical,male,laboratory technician,married,y,no

# Check columns to see if any can be dropped
Below we find that many columns have no variance in data, and can be removed

In [15]:
df.describe()

,age,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,hourlyrate,jobinvolvement,joblevel,...,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [16]:
df['standardhours'].unique()

array([80], dtype=int64)

In [17]:
df['over18'].unique()

array(['y'], dtype=object)

In [18]:
df['employeecount'].unique()

array([1], dtype=int64)

In [27]:
drop_list=['standardhours','over18','employeecount','employeenumber']

df_clean=uc.b_drop_by_input(df,drop_list)

In [ ]:
#Original dataframe 
len(df.columns)

35

In [29]:
#Updated dataframe
len(df_clean.columns)

31

# Output cleaned data file

In [30]:
df_clean.to_csv("Data\IBM_data_cleaned.csv",index=False)